@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-bot-sizin:  border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
}

li{
  text-decoration: none;
  list-style: none;
}

.responsive {
    width: 100%;
    height: auto;
  }

h2{
  text-align: center;
}  

 a{
   text-decoration: none;
 }

/* PRELOADER */

#contenedor_carga{
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga{
    border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}



#carga{
  border: 15px solid #ccc;
  border-top-color: #134c69;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar{
  from { transform: rotate(0deg);}
  to{ transform: rotate(360deg); }
}
 /* HEADER */

 .header-tel {
    background-color: #D8D200;
    padding: 5px;
    text-align: right;
    font-weight: bold;
  }

  .header-tel p{
    padding-top: inherit;
    padding-right: inherit;
  }

  /*NAV BAR */

  #navbar {
    overflow: hidden;
    padding: 20px 200px;
    transition: 0.4s;
    position: aboslute;
    width: 100%;
    z-index: 99;
  }

  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
  }
   
  
  #navbar-right {
    float: right;
    padding-top: 50px;
  }

/* HERO */

.hero{  
  background-image: -webkit-image-set(url('../img/hero.webp') 1x);
  background-image: url('../img/hero.jpg');
  /*background-image: url('../img/hero.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px;
}

.hero-text{
  text-align: center;
  color:white;
  font-size: 1.5rem;
  padding: 100px 0px;
}

.hero-text h1{
  font-size: 5rem;
}

.hero button{
  border-radius: 10px;
}

.contrato{
  background-color:#D8D200 ;
  font-weight: bold;
  width: 150px;
}
.Especificaciones{
  margin: 20px;
  background-color: transparent !important;
  border-color: white;
}

.Especificaciones a{
  font-weight: bold;
  width: 150px;
  color: white;
}

/* DISEÑO WEB */

#web h2, #grafico h2{
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: #134c69;
}

.columns1 {
  float: left;
  width: 33.3%;
  padding: 8px;
  text-align: center;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #134c69;
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
  font-weight: bold;
}

.button {
  background-color: #D8D200;
  border: none;
  color: #134c69;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
}

.price-descrip{
  font-weight: 900;
  font-size: 20px;
}

.descuento{
  color:rgb(17, 109, 17);
  font-weight: bold;
  font-size: 13px;
}

/*CLIENTES*/
.clientes{
  text-align: center;
  background-color: #181616;
  float: left;
  width: 100%;
  padding: 20px;
  color: #D8D200;
  font-size: 30px;
}
 
#grafico{
  float: left;
  width: 100%;
  padding: 20px 10px
}

#grafico, #grafico li{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/*CONTACTO*/
#contacto{
  background-color:#181616;
  float: left;
  width: 100%;
  padding: 100px 40px;
  text-align: center;

}

#contacto h2{
  color: #D8D200;
  padding: 20px;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}



#contacto .columns-contacto{
  color: white;
}

.columns-contacto h3{
  font-size: 2em;
  display: inline;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, input[type=Email], input[type=number] {
  width: 80%; 
  padding: 12px;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 .8em;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  outline: none;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #134c69;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  margin: 20px 45%;
  text-align: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.g-recaptcha{
  padding: auto 40%;
  margin: 30px auto;
}


.whatsapp-logo{
  vertical-align: middle;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.redes-sociales{
  width: 100%;
  text-align: center;
  float: left;
  padding: 50px 10px;
}

.redes-sociales a{
  color: #D8D200;
}

i{
  padding: 10px;
}

/*Politica de Privacidad */
footer{
  background-color: black;
  float: left;
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 0.8rem;
  padding: 15px 10px;
  text-align: center;
}

footer a{
  color: white;
  text-decoration: underline;

}

.terminos{
  width: 100%;
  padding:20px 30px;
}

.terminos h2{
  text-align: left;
}

#rc-anchor-container{
  width: 80% !important;
  background-color: black;
}


  @media screen and (max-width: 665px) {
    #navbar {
      padding: 20px 10px !important;
      text-align: center;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
    #navbar img{
        margin: auto;
    }
    .hero-text h1 {
      font-size: 4rem;
    }
    .columns1 {
      width: 100%;
    }
    #contacto .columns-contacto{
      width:100%;
    }
    input[type=text], select, textarea, input[type=Email], input[type=number] {
      width: 100%; 
    }
    .columns-contacto h3{
      font-size: 1.5em;
      display: inline;
    }
    .hero{
      padding: 80px 0px;
    }
    input[type=submit] {
      margin: 20px auto;
    }
    .g-recaptcha{
      width: 100px;
      margin: auto -10%;
    }
    .hero-text{
      padding: 100px 20px;
    }
  }
  @media screen and (min-width: 666px) and (max-width: 1059px) {
    #navbar{
      padding: 20px 0px;
    }
    #navbar-right{
      padding-right: 10px;
    }
    .g-recaptcha{
      padding: auto 20%;
      margin: 30px auto;
    }
  }